/* Estilos generales */
 body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


h1, h2, h3 {
    color: #4b2613;
    font-family: "Nunito", sans-serif; /* Fuente Nunito */
    font-weight: bold; /* Texto en negrita */
}
p{
    font-family: "Nunito", sans-serif; /* Fuente Helvetica */
}
a {
    text-decoration: none;
    color: inherit;
}
.section {
    padding: 50px 10px;
    text-align: center;
}

/* Barra superior */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    z-index: 1000;
    font-family: "Nunito", sans-serif; /* Fuente Nunito */
    font-weight: 500; /* Texto en negrita */
    font-size: 12px;
}

.navbar .logo {
    height: 70px; /* Ajusta la altura según sea necesario */
    width: auto;  /* Mantiene las proporciones de la imagen */
}

.navbar .menu {
    display: flex;
    flex-direction: row; /* Por defecto, el menú es horizontal */
    gap: 15px;
    margin-right: 20px;
}

.navbar .menu a {
    padding: 5px 10px;
    margin-right: 30px;
    position: relative; /* Necesario para el subrayado con border */
    transition: color 0.4s, border-bottom 0.4s; /* Suaviza tanto el color como el subrayado */
    text-decoration: none; /* Elimina el subrayado predeterminado */
}

.navbar .menu a:hover {
    color: #4b2613; /* Cambia el color del enlace al hacer hover */
    border-bottom: 2px solid #4b2613; /* Agrega un subrayado suave */
}

/* Menú Hamburguesa */
.navbar .hamburguesa {
    display: none;
    font-size: 24px;
    cursor: pointer;
    margin-right: 20px;
}


/* Estilos para el submenú */
.navbar .menu ul {
    display: flex; /* Muestra el menú horizontalmente */
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar .menu > ul > li {
    position: relative; /* Necesario para el submenú */
}

/* Submenú oculto por defecto */
.navbar .menu .submenu {
    display: none;
    position: absolute;
    top: 100%; /* Alinea el submenú debajo del ítem principal */
    left: 0;
    background-color: transparent;
    padding: 0;
    margin: 0;
    width: 200px; /* Ancho del submenú */
    z-index: 1000;
}

.navbar .menu > ul > li:hover .submenu {
    display: block; /* Muestra el submenú al pasar el ratón (solo en pantallas grandes) */
}

/* Estilos para los elementos dentro del submenú */
.navbar .menu .submenu li {
    padding: 10px;
    text-align: left;
   
}

.navbar .menu .submenu li a {
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease;
    text-transform: initial;
}

.navbar .menu .submenu li a:hover {
    background-color: #f7860a; /* Color de fondo al pasar el ratón sobre el enlace */
}

/* Video a pantalla completa */
.fullscreen-video {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.fullscreen-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fullscreen-video .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3em;
    text-align: center;
    padding: 0 20px;
    font-family: "Instrument Serif", sans-serif; /* Fuente Instrument */
    font-weight: 400; /* Texto en negrita */
    font-style: normal; 
}

/* Sección "Quienes somos" */
#quienes-somos {
    background: #fdf5ee;
    min-height: 300px; /* Usa min-height para que se ajuste al contenido */
    padding: 20px; /* Añadir un poco de espacio interno */
}

/* Estilo para la clase "quienes" */
.quienes {
    margin: 10px;
    text-align: center; /* Centra el texto dentro de la clase .quienes */
    width: 100%; 
}
.quienes p{
    font-family: "Instrument Serif", sans-serif; /* Fuente Instrument */
    font-weight: 400; /* Texto en negrita */
    font-style: normal;
    font-size: 2em;
    color: #4b2613;
}

/* Sección de servicios */

#servicios {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 90px;
    background: #fdf5ee;    
}
.servicio {
    background-color: #fdf5ee;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: transform 0.3s;
    cursor: pointer;
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: center;
    position: relative; /* Necesario para el pseudo-elemento */
    padding: 20px; /* Añadido para dar espacio dentro del contenedor */
}
.servicio-img-1{
    background-image: url("/img/logos.jpg"); /* Imagen de fondo */
}
.servicio-img-2{
    background-image: url("/img/kairos.jpg"); /* Imagen de fondo */
}
.servicio-img-3{
    background-image: url("/img/conversatorio.jpg"); /* Imagen de fondo */
}
.servicio-img-4{
    background-image: url("/img/atelier.jpg"); /* Imagen de fondo */
}
.servicio-img-5{
    background-image: url("/img/comunidad.jpeg"); /* Imagen de fondo */
}
.servicio h3{
    font-family: "Instrument Serif", sans-serif; /* Fuente Instrument */
    font-weight: bold; /* Texto en negrita */
    font-style: normal;
    font-size: 30px;
    color:#4b2613;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

.servicio:hover {
    transform: scale(1.05);
    background-color: #f7860a;
    background-image: none;
}
.servicio h3:hover {
    color: #fff;
}
.servicio:hover::after {
    content: "Conocé más";
    position: absolute;
    top: 50%;  /* Ajustamos para que esté debajo del h3 */
    left: 50%;
    transform: translate(-50%, 50%);  /* Centrado horizontal y ajustado verticalmente */
    border-bottom: 2px solid #4b2613; /* Agrega un subrayado suave */
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    opacity: 1;
    transition: opacity 0.3s;
    font-family: "Nunito", sans-serif; /* Fuente Instrument */
    font-style: normal;
}
.servicio::after {
    content: "";
    opacity: 0; /* El pseudo-elemento está oculto por defecto */
    transition: opacity 0.3s;
}
/* Pantalla de cada servicio */
/* Detalles de servicios ocultos por defecto */
/* Estilos generales */

.servicio-detalle {
    display: none;
    padding: 20px;
    background-color: #fdf5ee;
}

.servicio-detalle.active {
    display: block;
}

h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Navegación de ítems */
.navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 40%;
    margin-bottom: 10px;
    font-family: "Nunito", sans-serif; /* Fuente Nunito */
    font-weight: 500; /* Texto en negrita */
    font-size: 12px;
}

.navegacion a {
    margin: 0 5px;
    text-decoration: none;
    color: #4b2613;
    font-size: 1.1rem;
    padding: 5px 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navegacion a:hover {
    background-color: #f7860a;
}

.seccion-item {
    display: flex;
    margin-bottom: 20px; 
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.seccion-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.seccion-imagen {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
}

.descripcion {
    flex: 1;
}

.descripcion h3 {
    font-size: 1.5rem;
    margin: 0;
    color: #333;
}

.descripcion p {
    font-size: 1rem;
    color: #666;
    margin: 10px 0;
}

.descripcion a {
    color: #4b2613;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Nunito", sans-serif; /* Fuente Nunito */
}

.descripcion a:hover {
    text-decoration: underline;
}

/* Estilo para el enlace de volver */
.servicio-detalle a {
    display: block;
    text-align: center;
    color: #4b2613;
    text-decoration: none;
    margin-top: 30px;
    font-family: "Nunito", sans-serif; /* Fuente Nunito */
}

.servicio-detalle a:hover {
    text-decoration: underline;
}
/* Formulario de Contacto */
#contacto{
    background-color: #fdf5ee;  
}
#contacto form {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fdf5ee; 
}

#contacto input, #contacto textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: "Nunito", sans-serif;
}

#contacto button {
    padding: 10px;
    background: #190202;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#contacto button:hover {
    background-color: #f7860a;
}
/* Iconos de redes sociales */
.redes-sociales {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.redes-sociales a {
    font-size: 24px;
    color: #190202;
    transition: color 0.3s;
}
.redes-sociales a:hover {
    color: #f7860a; /* Cambia el color al pasar el mouse */
}
.contacto {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.contacto-info {
    flex: 1;
    padding: 20px;
    background-color: #fdf5ee;
    border-radius: 8px;
}

.mapa {
    flex: 1;
    padding: 20px;
    background-color: #fdf5ee;
    border-radius: 8px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

iframe {
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 8px;
}

/* Pantalla de créditos */
#creditos {
    background: #190202;
    color: white;
    padding: 20px;
}
#creditos h2{
    color: white;
}
.terminos:hover{
    color: #f7860a;
}

/* Estilos para la imagen */
.imagen-container {
    margin: 20px 0;
    text-align: center;
}
.imagen-container img {
    max-width: 100%;
    height: 70px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/* Botón Flotante de WhatsApp */
.floating-button-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.floating-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.floating-button img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/* Media Queries para Responsive Design */

/* Media query para pantallas pequeñas (menos de 768px) */
@media only screen and (max-width: 768px) {
    /* Mostrar el ícono de hamburguesa */
    .navbar .hamburguesa {
        display: block;
        font-size: 30px; /* Tamaño de ícono más grande para móviles */
        margin-left: 15px;
    }

    .navbar .menu {
        display: none; /* Oculta el menú por defecto en móviles/tablets */
        flex-direction: column; /* Muestra los elementos en columna */
        position: fixed; /* Posición fija */
        top: 0;
        left: -250px; /* Oculta el menú fuera de la pantalla */
        width: 250px; /* Ancho del menú */
        height: 100vh; /* Altura completa de la pantalla */
        background: rgba(255, 255, 255, 0.95); /* Fondo del menú */
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Sombra para el menú */
        z-index: 1000; /* Asegura que esté por encima de otros elementos */
        transition: left 0.3s ease; /* Transición suave */
        padding-top: 60px; /* Espacio para el logo y el botón de hamburguesa */
    }

    /* Muestra el menú cuando está activo */
    .navbar .menu.active {
        left: 0; /* Muestra el menú desde la izquierda */
        display: flex; /* Muestra el menú */
    }

    /* Estilos para los elementos del menú */
    .navbar .menu ul {
        flex-direction: column; /* Muestra los elementos en columna */
        padding: 20px; /* Espaciado interno */
    }

    .navbar .menu ul li {
        margin: 10px 0; /* Espaciado entre elementos */
    }

    /* Estilos para el botón de hamburguesa */
    .navbar .hamburguesa {
        display: block; /* Muestra el botón de hamburguesa */
        font-size: 24px;
        cursor: pointer;
        margin-right: 20px;
    }

    /* Estilos para el ícono de cerrar */
    #close-menu {
        display: none; /* Oculta el ícono de cerrar por defecto */
        font-size: 24px;
        cursor: pointer;
        margin-right: 20px;
    }
    .navbar .menu .submenu {
        position: static; /* El submenú se muestra en columna */
        width: 100%; /* Ocupa todo el ancho disponible */
        box-shadow: none; /* Sin sombra */
        background-color: transparent; /* Fondo transparente */
        padding: 0; /* Sin espaciado interno */
    }

    .navbar .menu .submenu li {
        padding: 5px 20px; /* Espaciado interno */
    }

    .navbar .menu .submenu li a {
        color: #333;
    }

    .navbar .menu .submenu li a:hover {
        background-color: #f7860a; /* Sin fondo al hacer hover */
    }  


    /* Modificación en la apariencia del menú hamburguesa para cuando está abierto */
    .navbar .hamburguesa i {
        color: #4b2613; /* Cambia el color del ícono hamburguesa */
    }
    .servicio {
        width: 200px; /* Hacemos que los contenedores sean más pequeños */
        height: 200px;
        display: block;/* Para pantallas pequeñas, los contenedores se muestran en fila */
        margin: 0 auto; /* Centra los contenedores en la pantalla */
    }

    /* Ajustamos el tamaño del texto dentro de los contenedores */
    .servicio h3 {
        font-size: 24px;
        margin: 0 auto;
        text-align: center;
    }

    .servicio:hover::after {
        font-size: 12px; /* Ajuste de tamaño para el texto "Conocer más" */
    }
    .contacto {
        flex-direction: column;
        align-items: center;
    }

    .contacto-info,
    .mapa {
        width: 100%;
        margin-bottom: 20px;
    }

    iframe {
        height: 250px;
    }
   
}

/* Media query para pantallas muy pequeñas (menos de 480px) */
@media screen and (max-width: 480px) {
    /* Barra superior */
    .navbar .logo {
        font-size: 20px; /* Ajusta el tamaño del logo */
    }

    /* Video a pantalla completa */
    .fullscreen-video .overlay {
        font-size: 1.5em;
    }

    /* Sección de servicios */
    #servicios {
        grid-template-columns: 1fr; /* Asegura que los servicios se muestren en una sola columna */
    }
    .servicio {
        width: 150px; /* Más pequeño en pantallas muy pequeñas */
        height: 150px;
        margin: 0 auto;
    }

    .servicio h3 {
        font-size: 20px; /* Reducimos el tamaño del título */
          margin: 0 auto;
          text-align: center;
    }

    .servicio:hover::after {
        font-size: 12px; /* Reducimos el tamaño del texto "Conocer más" */
    }


    /* Formulario de contacto */
    #contacto form {
        padding: 0 10px; /* Ajusta el padding en el formulario */
    }

}